@import './variables.styl'

.headingContainer
  display flex
  justify-content space-between
  align-items baseline
  h1 
    width unset


.thumbnailsContainer
  display flex
  flex-wrap wrap
  font-size 1.6rem

  .thumbnailContainer
    width 20rem
    height 20rem
    margin-right 6.4rem
    animation fadeIn 0.5s
    cursor pointer
    user-select none

    img
      width 100%
      height 100%
      object-fit contain

.projectTextsContainer

  .projectTextContainer 
    display flex
    animation fadeIn 0.5s
    cursor pointer
    width max-content

    .projectText
      margin-right 1.8rem
      transition $transition
      &:hover
        color $ipt-orange

    .projectCategories
      display flex
      align-items center

      .divider 
        color $grey-200
        margin-right 0.6rem

      svg
        icon-wrapper()
        width 2.1rem
        height 2.1rem

      svg.inFilter
        filter $ipt-orange_filter


@keyframes fadeIn
  from 
    opacity 0
  to 
    opacity 1


.modalContainer
  position fixed
  top 0
  left 0
  background-color rgba(255,255,255,0.9)
  height 100vh
  width 100%
  cursor pointer

.projectContainer

  position fixed
  top 0
  right 0
  // height - margin
  height 100%
  box-sizing border-box

  width 60rem
  border-left 2px solid black
  background-color white
  padding 2.4rem 3.6rem

  // to get the stuff inside the container to fit in
  // i.e to get the text be able to overflow
  display flex
  flex-direction column

  .titleContainer
    font-size 2.4rem
    font-weight 700
    display flex
    justify-content space-between

    // .closeIcon
    //   // flex fits height of span to svg
    //   display flex
    //   align-items center

    svg
      cursor pointer
      width 3.6rem
      height 3.6rem

  .buildingTypesContainer
    display flex
    font-style italic
    color $grey-400

    .buildingTypeSection
      font-style normal
      color black
      cursor pointer
      transition $transition
      margin-left 1.8rem

      &:hover
        color $ipt-orange


  p
    width 100%
    overflow-y auto
    margin 0
    margin-top 1.8rem


.icon
  transition $transition

  svg
    height 4.8rem
    width 4.8rem
    pointer-events none

  position absolute
  bottom $default-horizontal-margins
  right $default-horizontal-margins

  animation pulse 3s infinite alternate

  &:hover
    filter $ipt-orange_filter
    cursor pointer
    animation unset

.icon.invisible
  animation fade-out 0.5s forwards
  pointer-events none

@keyframes pulse
  from 
    opacity 1
  to 
    opacity 0.25

@keyframes fade-out
  from 
    opacity 1
  to 
    opacity 0