@font-face 
  font-family "Avenir"
  font-weight 200
  src url("/fonts/Avenir-Light.woff") format("woff")

@font-face 
  font-family "Avenir"
  font-weight 200
  font-style italic
  src url("/fonts/Avenir-LightOblique.woff") format("woff")

@font-face 
  font-family "Avenir"
  font-weight 400
  src url("/fonts/Avenir-Roman.woff") format("woff")

@font-face 
  font-family "Avenir"
  font-weight 400
  font-style italic
  src url("/fonts/Avenir-Oblique.woff") format("woff")

@font-face 
  font-family "Avenir"
  font-weight 700
  src url("/fonts/Avenir-Heavy.woff") format("woff")

@font-face 
  font-family "Avenir"
  font-weight 700
  font-style italic
  src url("/fonts/Avenir-HeavyOblique.woff") format("woff")
