@import './variables.styl'

.imageContainer 
  height 50vh
  margin-top 1.8rem
  border 2px solid $grey-200

  img
    width 100%
    height 100%
    object-fit contain
    animation fadeIn 0.3s

@keyframes fadeIn
  from 
    opacity 0
  to 
    opacity 1

.controlsContainer
  user-select none
  .control
    cursor pointer

.next 
  img 
    cursor pointer
