@import './variables.styl'

// .imageContainer 
  // margin-left 3vw

  // img settings are handled in index.module.styl 
  // img
  //   width 45vw
  //   height 30vw
  //   object-fit cover
  //   transition $transition

.captionContainer
  margin-left 3vw
  display flex
  justify-content space-between

.controlsContainer
  user-select none
  .control
    cursor pointer

.next 
  img 
    cursor pointer

.carouselImg
  opacity 1
  transition 200ms
  width 100%

// .carouselContainer
//   opacity 1

.fadeOut
  opacity 0