@import './variables.styl'

.filtersContainer
  display flex
  flex-direction column
  justify-content space-between
  height 30vw

  span
    // user-select none
    // cursor pointer
    // transition $transition

    // &:hover
    //   color $ipt-orange

  .section
    // margin-right 3vw

    // .sectionName
    font-size $font-size_medium
    // font-style italic
    font-weight 200
    
    // color $grey-600
    color $white

    display block
    // margin-bottom 0.6rem
    margin-bottom 0.38vw

    // if have icon
    display flex
    align-items center
    width max-content

    cursor pointer

    &:hover 
      color $ipt-orange
      .sectionIcon
        filter $ipt-orange_filter

    .sectionIcon
      icon-wrapper()
      height $font-size_medium
      width $font-size_medium
      filter $grey-600_filter
      // filter $white_filter

  
  .home
    opacity 0
    font-size $font-size_medium
    align-self flex-end
    // color $grey-600
    cursor pointer

    &:hover
      color $ipt-orange

.filtersContainer.inDescription
  .section
    color $grey-800

    &:hover 
      color $ipt-orange
      .sectionIcon
        filter $ipt-orange_filter

    .sectionIcon
      filter $grey-800_filter

  .active
    color $white
    cursor default
    pointer-events none

    &:hover 
      color $white
      .sectionIcon
        filter $grey-600_filter

    .sectionIcon
      filter $grey-600_filter

  .home 
    opacity 1

.section
.home
  transition $transition


// .highlight
//   .sectionName
//   // .sectionItem
//     color $white !important
  
//   .sectionIcon
//     filter $white_filter !important

// // applied to first section
// .removeHighlight
//   .sectionName
//     color $grey-600 !important
//   // .sectionItem
//   //   color $grey-800 

//   .sectionIcon
//     filter $grey-600_filter !important

//     &:hover 
//       color $ipt-orange !important
//       .sectionIcon
//         filter $ipt-orange_filter !important