@import './variables.styl'

.filtersContainer
  margin-top 3.6rem

  .category.hidden 
    .sectionContainer
      display none

  .category
    margin-top 3.6rem
    user-select none
    &:first-of-type
      margin-left 0

    .categoryNameContainer
      display flex
      
      .categoryName
        pointer-events none

      .toggleVisibilityButton
        margin-left 2.4rem

    .sectionContainer
      display flex
      flex-wrap wrap
      margin-top 1.8rem

      color $grey-400
      font-size 1.6rem

      span
        cursor pointer
        user-select none
        transition $transition

        &:hover
          color $ipt-orange

      .section
        margin-right 2.4rem
        margin-bottom 3.6rem
        width 40rem

        .sectionName
          display flex
          align-items center
          width max-content

          &:hover 
            .sectionIcon
              filter $ipt-orange_filter

          .sectionIcon
            icon-wrapper()
            height 1.6rem
            width 1.6rem
            filter $grey-400_filter

            // so onClick selected proper span with info
            pointer-events none

        .sectionItem
          margin-left 2.4rem
          margin-top 0.6rem

      .section.noChildren
        width unset

  .headingContainer
    display flex
    justify-content space-between

  // active / selected ordering matters
  .active
    color black

    .sectionIcon
      filter $black_filter !important

  .selected 
    color $ipt-orange
   
    .sectionIcon
      filter $ipt-orange_filter !important

      
.home
  .category
    .headingContainer
      margin-bottom 0.8rem

    .sectionContainer
      display unset

      .section
        margin-bottom 0.8rem

        .sectionItem
          display none


.home.filtersContainer
  display flex
  flex-wrap wrap