@import './variables.styl'

.filtersContainer
  // margin-top 8rem
  // margin-top 5vw
  margin-bottom 50vh

  // .category
  //   margin-top 3.6rem
  //   user-select none
  //   &:first-of-type
  //     margin-left 0

  //   .categoryNameContainer
  //     display flex
      
  //     .categoryName
  //       pointer-events none

  .sectionContainer
    // margin-top 1.6rem
    // margin-top 1.05vw
    // margin-top 1.5vw
    margin-top 20vw

    // display flex
    // flex-wrap wrap

    // color $grey-400
    // font-size 1.6rem

    span
      // user-select none
      // cursor pointer
      // transition $transition

      // &:hover
      //   color $ipt-orange

    .section
      // margin-right 2.4rem
      margin-right 1.5vw
      // margin-bottom 3.6rem
      // margin-bottom 2.25vw
      margin-bottom 3vw
      // width 36rem
      width 22.5vw

      // for section-item list
      display flex
      flex-direction column

      .sectionName
        font-size $font-size_large
        font-style italic
        
        color $grey-600

        display block
        // margin-bottom 0.6rem
        margin-bottom 0.38vw

        // if have icon
        display flex
        align-items center
        width max-content

        cursor pointer

        &:hover 
          color $ipt-orange
          .sectionIcon
            filter $ipt-orange_filter

        .sectionIcon
          icon-wrapper()
          height $font-size_large
          width $font-size_large
          filter $grey-600_filter

          // so onClick selected proper span with info
          // pointer-events none

      .sectionItem
        // display block
        color $grey-800
        // margin-left $font-size_large + 0.6rem // 0.6rem is margin on icon
        // margin-left 3.6rem // 0.6rem is margin on icon
        margin-left 2.25vw // 0.6rem is margin on icon
        
        // margin-top 0.6rem
        cursor pointer

        // so each item does not take full length
        width max-content

        &:hover
          color $ipt-orange !important

    .section.noChildren
      width unset

.sectionTriggerEl
  position absolute
  top 5vh

.sectionName
.sectionItem
  transition $transition



.highlight
  .sectionName
  .sectionItem
    color $white 
  
  .sectionIcon
    filter $white_filter 

// applied to first section
.removeHighlight
  .sectionName
    color $grey-600 
  .sectionItem
    color $grey-800 

  .sectionIcon
    filter $grey-600_filter 

    &:hover 
      color $ipt-orange 
      .sectionIcon
        filter $ipt-orange_filter 