@import './variables.styl'

.wrapper
  // margin-left 15vw

  margin-top $margin-top-nav 

  // display flex
  justify-content space-between
  

  // .triggerEl
  // position absolute
  // top 5vh
  
  .frontPageContainer
    z-index 2
    // margin-right 3vw

    // h1 
    //   margin-top 0

    font-size $font-size_large

    .value
      // font-style italic
      display flex
      font-weight 700
      .orange
        color $ipt-orange
      
      .logo 
        pointer-events all
        // transition $transition
        // height 4.8rem
        height 3vw
        margin-right 1.05vw
        // cursor pointer
        user-select none
        width unset
        // filter $grey-600_filter
        // filter $white_filter
    
        // &:hover
        //   transition $transition-hover
        //   filter $white_filter

    .heading 
      // margin 2.25vw 0
      // font-style italic
      font-weight 200

    .value
    .heading
      transition $transition
      span
        transition $transition

  .contentContainer
    display flex
    margin-top 1.05vw
    justify-content space-between

    .descriptionContainer
      opacity 0
      // transition $transition
      display flex

      .companyDescription
        color $grey-600
        margin-top 0
        height min-content

        &:hover
          color $white

      .descriptionImageContainer
        margin-right 3vw

        .location
          text-align right  
          color $grey-600

      p 
        &:first-of-type
          margin-top 0

      ul
        p
          width 100%

      img 
        // opacity 0
        // width 33.75vw
        // height 22.5vw
        width 45vw
        // width 30vw
        height 30vw
        object-fit cover
        margin-left 3vw



    .descriptionContainer.fadeIn
      opacity 1          
    
    .descriptionContainer.fadeOut
      opacity 0          
      transition 200ms

    .location
      text-align right

  // .mute
  //   color $grey-800

  //   p
  //   em
  //     color $grey-800 !important

.page
  opacity 0

.fadeIn
  opacity 1


.tagline
  color $white

.mute
  color $grey-800 
  span
    color $grey-800 !important




.frontPageContainer
.companyDescription
.page
.descriptionContainer
.logo
img
  transition $transition
