@import './variables.styl'

.wrapper
  margin-left 15vw

  .triggerEl
    position absolute
    top 5vh

.frontPageContainer
  z-index 2

  .value
    font-style italic

  .heading 
    font-size $font-size_default




.contentContainer 
  display flex

  // .companyDescription
  //   margin-top 3.6rem

  // .about
    // color $white


  .content
    // margin-left 8rem
    margin-left 5vw


.frontImage
  z-index 1
  position absolute 
  right $default-horizontal-margins
  width $text-container-width


.frontPageContainer
.companyDescription
p
em
  transition $transition

.mute
  color $grey-800

  p
  em
    color $grey-800 !important

