@import './variables.styl'

.wrapper
  // margin-left 15vw

  margin-top $margin-top-nav 

  display flex
  justify-content space-between
  

  // .triggerEl
  // position absolute
  // top 5vh


  .imageAndFilterWrapper
    display flex

  .fadeIn
    opacity 1

  img 
    transition $transition
    opacity 0
    width 33.75vw
    height 22.5vw
    object-fit cover
    margin-right 3vw


.frontPageContainer
  z-index 2
  margin-right 3vw

  h1 
    margin-top 0

  .value
    font-style italic

  .heading 
    font-size $font-size_default
    margin 2.25vw 0

.companyDescription
  color $grey-600
  &:hover
    color $white

.contentContainer 
  display flex

  // .companyDescription
  //   margin-top 3.6rem

  // .about
    // color $white


  // .content
  //   // margin-left 8rem
  //   margin-left 5vw


// .frontImage
//   z-index 1
//   position absolute 
//   right $default-horizontal-margins
//   width $text-container-width


.frontPageContainer
.companyDescription
p
em
  transition $transition

// .mute
//   color $grey-800

//   p
//   em
//     color $grey-800 !important
