@import './variables.styl'

.container 
  position absolute
  top 0
  left 0

  padding 1.6rem $default-horizontal-margins
  box-sizing border-box
  width 100%

  display flex
  justify-content space-between

  background-color white


.logo 
  max-height 4.8rem

.pageLinks
  a
    transition 200ms

    &:not(:first-of-type)
      margin-left 3.6rem

    &:hover
      color $ipt-orange
