@import './variables.styl'

.container 
  position fixed
  top 0
  left 0

  // padding 1.6rem $default-horizontal-margins
  padding  1.05vw $default-horizontal-margins
  box-sizing border-box
  width 100%

  display flex
  justify-content space-between

  pointer-events none

  z-index 50

.logoGroup
  display flex

  .heading
    margin-left $default-horizontal-margins

.logo
.about
// .inTouch
  pointer-events all
  transition $transition
  
.logo 
  // height 4.8rem
  height 3vw
  // cursor pointer
  user-select none
  filter $white_filter

.about
  color $grey-600
  // color $white
  cursor pointer

  &:hover
    transition $transition-hover
    color $ipt-orange

  // .inTouch
  //   color $white
  
  // a
  //   transition $transition


// .mute
//   .logo
//     filter $grey-800_filter
    
//     &:hover
//       transition $transition-hover
//       filter $white_filter

//   .about
//     &:hover
//       transition $transition-hover
//       color $ipt-orange
  // .contact
  // .inTouch
  // a
  //   color $grey-800