@import './variables.styl'

.container 
  position fixed
  top 0
  left 0

  padding 1.6rem $default-horizontal-margins
  box-sizing border-box
  width 100%

  display flex
  justify-content space-between

  pointer-events none

.logo
.contact
.inTouch
  pointer-events all
  transition $transition
  
.logo 
  height 4.8rem
  cursor pointer
  user-select none
  filter $white_filter

.contact
  color $grey-600

  .inTouch
    color $white
  
  a
    transition $transition
    &:hover
      transition $transition-hover
      color $white


.mute
  .logo
    filter $grey-800_filter
    
    &:hover
      transition $transition-hover
      filter $white_filter

  .contact
  .inTouch
  a
    color $grey-800