.categoriesContainer
  // display flex
  margin-top 3.6rem

  div
    // margin-left 3.6rem

  .category
    margin-top 3.6rem
    &:first-of-type
      margin-left 0

    .sectionContainer
      display flex
      margin-top 1.8rem

      .section
        font-size 1.6rem

        &:not(:first-of-type)
          margin-left 6.4rem
        //   margin-top 3.6rem

        // &.noChildren
        //   margin-top 1.8rem

          // &:not(:first-of-type)
          //   margin-top 0.6rem


        .sectionItem
          margin-top 0.6rem
          margin-left 3.6rem