@import './variables.styl'

.container
  
  // width 30vw
  // margin 4.8rem
  margin $default-horizontal-margins 
  margin-top $margin-top-nav
  // margin-left $text-container-width

  // this fits the stuff inside the container to its height
  display flex
  // flex-direction column

  .textContainer
    width $text-container-width

    p 
      &:first-of-type
        margin-top 0



  h1 
    margin 0
    position absolute
    font-style italic

    span 
      position relative
      top -3vw //2x 1.5
    // margin 0.75vw

  // .descriptionContainer
  //   margin 0 0.75vw
  // padding-right 0.75vw
  // overflow-y auto

  // img
  // h1
  // p

  .fadeIn
    opacity 1

  img 
    margin-right $default-horizontal-margins
    transition $transition
    opacity 0
    // width $text-container-width
    width 33.75vw

    height 22.5vw
    object-fit cover
    // height 30vw

  