@import './variables.styl'

.container
  width 30vw
  // margin 4.8rem
  margin 3vw

  img
    transition $transition
    opacity 0

  .fadeIn
    opacity 1

  img
  h1
  p
    width 100%

  img 
    // height 30vw
    height 22.5vw
    object-fit cover
