@import './variables.styl'
@import '../../static/fonts/font.styl';

/* this sets REM to be based off of 10px */
:root 
  font-size 62.5%

body 
  margin 0
  // font-family 'EB Garamond'
  font-family 'Cormorant Garamond'
  font-size $font-size_default
  line-height 1.5
  background-color $black
  color $white

  h1
  p
  span
  em
  a
  div
    &::selection
      color $ipt-orange

  
h1 
  font-size $font-size_large
  font-weight 300
  // allows h4 subhead to fit nicely
  margin-bottom 0
  width $text-container-width

a 
  color $link-medium 
  text-decoration none 

a:visited 
  color $link-light

p 
  margin 2.4rem 0 $margin-bottom 0
  width $text-container-width

// all p that are not perceeded by a p
:not(p) + p
  margin-top $margin-bottom

@media(max-width 400px) 
  
  h1 
    font-size 3.2rem

  body,
    font-size 1.8rem
