$white = #DDDDDD
$white_filter = invert(100%) sepia(4%) saturate(544%) hue-rotate(211deg) brightness(107%) contrast(73%) grayscale(1)

$grey-600 = #8F8F8F
$grey-600_filter = invert(59%) sepia(0%) saturate(26%) hue-rotate(149deg) brightness(96%) contrast(88%)

$grey-800 = #4F4F4F
$grey-800_filter = invert(28%) sepia(0%) saturate(56%) hue-rotate(301deg) brightness(45%) contrast(85%)

// 0.6rem = 0.375 / 0.38vw
// 1.2rem = 0.75vw
// 1.6rem = 1.05vw
// 2.4rem = 1.5vw
// 3.6rem = 2.25vw
// 4.8rem = 3vw


// $black = #181818
// $black = #151515
$black = #121212
// $black = black

$transition = 500ms
$transition-hover = 200ms



// $font-size_default = 1.6rem
$font-size_default = 1.05vw
// $font-size_large = 2.1rem
$font-size_large = 1.3vw

$text-container-width = 22vw 

// $margin-bottom = 1.2rem
$margin-bottom = 0.8vw
// $default-horizontal-margins = 3.6rem
$default-horizontal-margins = 2.25vw


// $link-light = #e68a94
// $link-medium = #eb4255
$link-light = $grey-600
$link-medium = $grey-600

$yellow-light = #fff2c4
$yellow-medium = #ffd02b

$ipt-orange = #FE6900
$ipt-orange_filter = invert(49%) sepia(14%) saturate(6515%) hue-rotate(355deg) brightness(98%) contrast(116%)



$grey-200 = #c2c2c2

$grey-400 = #9e9e9e
$grey-400_filter = invert(70%) sepia(0%) saturate(15%) hue-rotate(228deg) brightness(92%) contrast(82%)



$black_filter = invert(0%) sepia(0%) saturate(9%) hue-rotate(239deg) brightness(104%) contrast(100%)



// fits span to svg icon
icon-wrapper()
  // margin-right 0.6rem
  margin-right 0.38vw
  transition $transition
